/* Signup.css */

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup_form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup_form h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.signup_form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup_form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.signup_form button:hover {
  background-color: #45a049;
}

.gender_selection {
  display: flex;
  justify-content: space-between;
}

.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --background-color: #1f1f1f;
  --text-color: #ffffff;
}

/* Styles for the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

/* Styles for the Moon and Sun icons */
.toggle-switch svg {
  width: 20px;
  height: 20px;
  fill: white; /* Change the color as needed */
}

/* Dark mode styling */
.dark-theme {
  background-color: #333;
  color: white;
}

/* Light mode styling */
.light-theme {
  background-color: #fff;
  color: #333;
}

/* Styles for the toggle switch */
.top-right-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}
